.main-content {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    flex-direction: column;
    width: 100%;
}

.content {
    flex: 3;
    padding: 1rem;
}

body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-contact{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    color: white;
    font-weight: bold;
    padding: 3rem;
    width: 100%;
    background-color:darkgrey
}

