<body>
    <div>
        <h2 class="h2">Misión</h2>
    </div>
    <div>
        <p class="justify-text">“Somos una institución que desarrolla procesos de mejora continua; que rectora las políticas y estrategias del mercado laboral, los sistemas de previsión y seguridad social, 
            que promueve una cultura de diálogo y concertación en las relaciones obrero-patronales, contribuyendo a la paz y desarrollo nacional.”</p>
    </div>

    <div>
        <h2 class="h2">Visión</h2>
    </div>

    <div>
        <p class="justify-text">“Para el 2038 seremos una institución posicionada que goza de credibilidad y respeto por parte de patronos y trabajadores, que garantiza: el empleo decente, una adecuada formación profesional, 
        las buenas relaciones entre los sectores, la protección social en materia de previsión y seguridad social, para el logro del desarrollo del ser humano.”</p>
    </div>

    <div>
        <h2 class="h2">Valores</h2>
    </div>

    <div>
        <li class="justify-text"><strong>Honestidad:</strong> Cualidad de calidad humana que consiste en comportarse y expresarse con coherencia y sinceridad, de acuerdo con los valores de verdad y justicia. 
            Se trata de vivir de acuerdo a como se piensa y se siente. La honestidad puede entenderse como el simple respeto a la verdad en relación con el mundo, los hechos y las personas; en otros sentidos, 
            la honestidad también implica la relación entre el sujeto y los demás, y del sujeto consigo mismo.</li>
        <li class="justify-text"><strong>Responsabilidad:</strong>Es un valor que permite reflexionar, administrar, orientar y valorar las consecuencias de sus actos, siempre en el plano de lo moral. 
            Una vez que pasa al plano ético (puesta en práctica).</li>
        <li class="justify-text"><strong>Transparencia:</strong>Es el seguimiento correcto de cada uno de los procedimientos a desarrollarse para el beneficio de sus usuarios teniendo presente la equidad e igualdad 
            en los derechos y deberes.</li>
        <li class="justify-text"><strong>Igualdad:</strong>Es la ausencia de total discriminación entre los seres humanos, en lo que respecta a sus derechos.</li>
        <li class="justify-text"><strong>Ética:</strong>Justifica racionalmente un sistema moral, y cómo se ha de aplicar posteriormente a los distintos ámbitos institucionales.</li>
    </div>

    <div>
        <p class="justify-text">En la vida cotidiana constituye una reflexión sobre el hecho moral, busca las razones que justifican la utilización de un sistema moral u otro.</p>
    </div>

    <div>
        <h2 class="h2">Pólitica de Calidad</h2>
    </div>

    <div>
        <p class="justify-text">En la Secretaria de Trabajo y Seguridad Social; estamos comprometidos a desarrollar nuestra misión institucional, mediante un Sistema de Gestión de la Calidad, el cual tiene como bases:</p>
    </div>

    <div>
        <li class="justify-text">La transparencia y eficiencia en el manejo de nuestros recursos.</li>
        <li class="justify-text"> La  adecuada gestión del talento humano, tecnologías  y,</li>
        <li class="justify-text">La mejora continua de nuestros procesos</li>
        <li class="justify-text">Para garantizar la  satisfacción de los ciudadanos que demandan nuestros servicios.   Objetivos Institucionales</li>
        <li class="justify-text">Rectorar las políticas y estrategias del mercado laboral.</li>
        <li class="justify-text"> Desarrollar  procesos de mejora continua.</li>
        <li class="justify-text">Transparencia, rendición de cuentas y apego presupuestario.</li>
        <li class="justify-text">Promover una cultura de diálogo y concentración en las relaciones obrero</li>
        <li class="justify-text">patronales, contribuyendo a la paz y desarrollo nacional para obtener un posicionamiento, credibilidad y respeto por parte de patronos y trabajadores.</li>
        <li class="justify-text">Fomento del empleo decente y la formación profesional sostenible.</li>
        <li class="justify-text">Promover la protección social en materia de previsión y seguridad social, para el logro del desarrollo del ser humano.</li>
    </div>

    
</body>
